@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  padding: 0;
}
body {
  background-image: linear-gradient(gray, black);
  color: white;
}
.App {
  /* display: flex; */
  text-align: center;
}
#container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.cardsImgs {
  width: 150px;
  border-radius: 50%;
}
.cardNames {
  font-size: 20px;
  font-family: "Courgette", cursive;
}
.cardsInfo {
  font-size: 15px;
  font-family: "Courgette", cursive;
}

#imgon {
  border-radius: 30%;
  width: 500px;
  transition: 3s;
  animation: joker 4s infinite;
  animation-delay: 2s;
  animation-direction: alternate;
}
@keyframes joker {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    width: 200px;
  }
}
/* #imgon:hover{
  width: 200px;
  border: black 3px solid;
} */
h1 {
  text-align: center;
  font-family: "Courgette", cursive;
  font-size: 100px;
  background-color: rgba(0, 0, 0, 0.418);
}
img {
  border-radius: 10%;
}
/* #title{
  border: 2px solid black ;
  font-size: 100px;
} */
iframe {
  border: cornsilk solid 3px;
  margin: 10px;
}
/* #body{
  height: 100%;
  width: 98.9vw;
  background-color: cadetblue;
  margin: 20px;
  
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
